{{define "yield"}}
{{with .Devices}}
        {{range .}}
        <tr data-toggle="modal" data-id="{{.DevName}}" data-target="#deviceModal">
            <td>{{.DevName }}</td>
            <td>{{.MacId }}</td>
            <td>{{.DevDescr }}</td>
            <td>Active</td>
            <td>Launch</td>
        </tr>
        {{end}}
    {{end}}

    <!-- Device preview modal form -->
    <div class="modal fade" id="deviceModal" tabindex="-1" role="dialog" aria-labelledby="deviceModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="devPrev">Device Overview</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Overview
                </div>
            </div>
        </div>
    </div>
{{end}}



