<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {{with .Device}}
            <div class="d-flex justify-content-between">
            <div>
            <h4>
                {{.DevName}}
            </h4>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-primary" type="button" onClick="submitSSHRequest({{.DevName}}, 'ssh', '','schedule')">
                    Schedule SSH
                </button> 
                <button class="btn btn-danger" type="button" onClick="submitSSHRequest({{.DevName}}, 'ssh', '', 'stop')">
                    Stop SSH
                </button> 
            </div>
            </div>
            <div>
            {{.DevDescr}}
            </div>
            <br>
            <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Tunnel Status</th>
                        <th scope="col">Command</th>
                    </tr>
                </thead>
                <tbody>
                        <tr class="table-primary">
                        <td id="tableTunStat"> </td>
                        <td id="tableCmd"> </td>
                    </tr>
                </tbody>
            </table>
			<button type="button" class="btn btn-default btn-sm" onClick="getSSHStatus({{.DevName}})">
				<span class="glyphicon glyphicon-refresh"></span> Refresh
			</button>
            </div>
            <br>
            <form role="form" >
                <div class="form-group">
                    <label for="downlinkMsg">
                        <b>Downlink Message</b>
                    </label>
                    <input type="text" class="form-control" id="downlinkMsg">
                </div>
                <button type="button" class="btn btn-primary" onClick="submitDownlink({{.DevName}}, 'downlinkMsg', document.getElementById('downlinkMsg').value, '')">
                    Send
                </button>
            {{end}}
            </form>
            <br>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Downlink Msg</th>
                        <th scope="col">Uplink Msg</th>
                        <th scope="col">Ping Time</th>
                        <th scope="col">Tunnel Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{with .Logs}} 
                    {{range .}}
                        <tr class="table-primary">

                        <td>{{.LastSeen}}</td>

                        {{if .DownlinkMsg.Valid }}
                        <td>{{.DownlinkMsg.String }}</td>
                        {{else}}
                        <td>None</td>
                        {{end}}

                        {{if .UplinkMsg.Valid }}
                        <td>{{.UplinkMsg.String }}</td>
                        {{else}}
                        <td>None</td>
                        {{end}}

                        {{if .PingTime.Valid }}
                        <td>{{.PingTime.Int64}}</td>
                        {{else}}
                        <td>None</td>
                        {{end}}

                        {{if .TunnelStatus.Valid }}
                        <td>{{.TunnelStatus.String}}</td>
                        {{else}}
                        <td>None</td>
                        {{end}}
                    </tr>
                    {{end}}
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>

